<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>This is URL To Your Text Annotation Workspace</h2>

    <p>
    <strong><%=link_to @url, @url %></strong>
    </p>
    
    <p>
      Use this link to open your text annotation session
    </p>
    <p>If you belive you have received this message in error, please contact us.</p>
  </body>
</html>
